//<article className="page__article">
//<img alt='About app' src='bannerS1.jpg' className="article__img"/>
//<h3 className="article__title">Lorem ipsum</h3>
//<p className="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, adipisci blanditiis dolorem molestiae omnis placeat suscipit veritatis vero vitae. Aspernatur beatae deleniti dignissimos distinctio dolorum fuga illum, labore laboriosam laborum magnam maiores modi nam nobis odio, quas vel voluptatibus? Incidunt, provident suscipit! Animi aperiam blanditiis dolorem maiores quos. Sed.</p>
//</article>
@import "src/styles/colors";

.page__article {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;


  .article__img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: 50%;
  }

  .article__title {
    font-size: 2em;
    padding: 0.5em;
  }

  .article__text {
    padding: 1em;
    text-align: justify;
    color: $colorDescriptions;
  }
}
