@import "../../../../styles/fonts";
@import "../../../../styles/colors";

.page__form {
  font-family: $main;
  color: $colorText;

  .form__title {
    color: $colorAccent;
    font-family: $special;
    font-size: 3em;

  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    background-color: $colorSecondary;
    width: 100%;


    .form__input {
      margin-top: 1em;
      padding: 0.2em;
      width: 80%;

      &::placeholder {
        text-align: center;
      }
    }
    .form__select{
    padding: 0.2em;
      margin: 0.4em;

    }

    .form__textarea{
      width: 80%;
      min-height: 100px;
      padding: 0.2em;
    }


    .button {
      margin-top: 2em;
      width: 10em;
      padding: 0.2em 0.5em;
      background-color: $colorAccent;
      border-radius: 10em;
      border: none;
    }

    .error {
      margin-top: 2em;
      color: $colorDanger;
      font-size: 1.5em;
    }
  }
}

