//<>
//<nav className='user__books--nav'>
//<ul className="nav__list">
//<section className="user__books">
//<span className="description--title">Read</span>
//<div className="book__container">
@import "../../../../styles/colors";

.user__books--page {
  width: 100%;
  .user__books--nav {
    width: 100%;
    background-color: $colorSecondary;
    margin: 0 auto;
    .nav__list {
      display: flex;
      justify-content: center;
      padding: 0;
      li {
        padding: 0.5em;

        &:hover {
          background-color: $colorAccent;
        }
      }
    }
  }

  .user__books{
    .book__container{
      .book__title{
        font-size: 1.2em;
        font-weight: bold;
      }
      button{
        background-color: $colorAccent;
        border: none;
        border-radius: 5em;
      }
    }
  }
}

.book__actions {
  display: flex;
  justify-content: center;
  font-size: 2em;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.2em;
    i {
      font-size: 0.5em;
    }
  }
  .icon__green {
    background-color: $colorSuccess;
  }
  .icon__red {
    background-color: $colorDanger;
  }
  .icon__accent{
    background-color: $colorAccent;
  }
}
