@import "../../../../../styles/colors";
.searched__book {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
  width: 5em;
  margin-top: 0.4em;
  color: $colorText;
  .book--poster {
    object-fit: cover;
    padding: 0.1em;
    width: 100%;
    height: 100%;
  }

  .book--title {
    font-size: 0.5em;
    margin: 0.2em;
  }

  .book--author {
    font-size: 0.3em;
    margin: 0.3em;
    color: $colorDescriptions;
  }
}
.book__action {
  display: flex;
  .icon__green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $colorSuccess;
    margin: 0.2em;
    i {
      font-size: 0.5em;
    }
  }

  .icon__red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $colorDanger;
    margin: 0.2em;
    i {
      font-size: 0.5em;
    }
  }
}