@import "../../../../../styles/colors";
.searched__book {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2em;
  width: 5em;
  margin-top: 0.4em;
  color: $colorText;
  .book--poster {
    object-fit: cover;
    padding: 0.1em;
    width: 100%;
    height: 80%;
  }

  .book--title {
    font-size: 0.5em;
    margin: 0.2em;
  }

  .book--author {
    font-size: 0.3em;
    margin: 0.3em;
    color: $colorDescriptions;
  }
}