@import '../../../styles/colors';
@import '../../../styles/fonts';

.logo {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: $special;
  padding: 1em 0.2em;

  .logo__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .disbled {
    display: none;
  }
  .logo__title{
    color: $colorText;
    span{
      color: $colorAccent;
    }
  }
}