@import "./src/styles/colors";

.page__about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
  .about__title{
    font-size: 2em;
    padding: 1em;
  }
  .about__text{
    text-align: justify;
    padding: 1em;
    margin-bottom: 1em;
  }
  .about__button{
    padding: 1em 2em;
    background-color: $colorAccent;
    border: none;
    border-radius: 2em;
  }
}