//<>
//<section className='book__info'>
//<img className='book__poster' src={book.imageLinks ? book.imageLinks.thumbnail : ''} alt={`Poster for ${book.title}`}/>
//<h2 className="book__title">{book.title}</h2>
//<p className="book__authors">{book.authors ? book.authors.join(', ') : "Anonymous"}</p>
//<div className='book__actions'>
//<span className="book__rating">4.2</span>
//<div className='book__add'>
//<button className="button">Mark as own</button>
//<button className="button">Mark as readed</button>
//<button className="button">Add to favorties</button>
//</div>
//</div>
//  {book.description
//    ? <p className="book__description" dangerouslySetInnerHTML={{__html : book.description}}/>
//  : <p className="book__description">No description for this book</p>}
//
//</section>
//<section className='book__comments'>
//
//</section>
//</>
@import '../../../../styles/colors';

.book__info{
  color: $colorText;
  .book__poster{
    width: 14em;
  }
  .book__title{
    font-size: 2em;
  }
  .book__authors{
    color: $colorDescriptions;
  }
  .book__actions {
    .book__rating {
      font-size: 4em;
    }
    .book__add {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.4em;
      .button {
        background-color: $colorAccent;
        border: none;
        border-radius: 10em;
        padding: 0.5em;
        margin-bottom: 0.4em;
      }
    }
  }
}
.book__description{
  text-align: justify;
  width: 80%;
  margin: 1em auto;
}
