@import "src/styles/colors";

.page__articles {
  background-color: $colorSecondary;
  padding: 2em 0;
  .articles__title {
    font-size: 2em;
    text-align: center;
  }
}
.articles--dark{
  background-color: $colorSecondaryDark;
}

