.header__notifications {
  font-size: 1.5em;
  i{
    padding: 0.5em;
  }
  .disabled{
    display: none;
  }
  .search__input{
    border: none;
    border-radius: 3em;
    width: 70%;
  }
  .search__button{
    background: none;
    border: none;
    text-align: left;
  }
}