@import "src/styles/colors";
@import "src/styles/fonts";


.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: $colorPrimary;
  box-shadow: 0 3px 3px $colorSecondary;
}
.header--dark{
  background-color: $colorPrimaryDark;
  box-shadow: 0 3px 3px $colorSecondaryDark;
}
//@import "src/components/Home/Header/Navigation/Navigation";
