@import "src/styles/colors";

.page__footer {
  background-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  width: 100vw;

  .footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .footer__contact {


    }

    .footer__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form__button{
        margin-top: 2em;
        padding: 0.5em 1em;
      }
    }
  }
  .copyright{
    height: 30px;
    background-color: darken($colorPrimary, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer--dark {
  background-color: $colorSecondaryDark;
  .btn {
    color: $colorBackground;
  }
  .copyright{
    background-color: lighten($colorSecondaryDark, 20%);
  }
}