@import "../../../styles/colors";
@import "../../../styles/fonts";
@use 'sass:color';

.header__nav {
  font-family: $main;
  text-transform: uppercase;

  .nav__hamburger {
    padding: 1em;
    font-size: 2em;
    background: none;
    border: none;

    &--icon {
    }
  }

  .nav__list--hidden {
    display: none;
  }

  .nav__list--show {
    position: absolute;
    top: 44px;
    left: 0;
    background-color: $colorSecondary;
    width: 100%;
    padding: 0;

    li {
      padding: 10px;
      list-style: none;
      width: 100%;

      a {
        display: block;
        width: 100%;
      }

      &:hover {
        border-left: 4px solid $colorAccent;
      }
    }
  }
  .nav--dark {
    background-color: $colorSecondaryDark;

    a{
      color: $colorBackground;
    }
  }
}