@import "../../../styles/colors";
@import "../../../styles/fonts";
@use 'sass:color';

.header__nav {
  font-family: $main;
  text-transform: uppercase;
  color: $colorText;

  .nav__hamburger {
    padding: 1em;
    font-size: 2em;
    background: none;
    border: none;
    color: $colorText;
    &--icon {
    }
  }

  .nav__list--hidden {
    display: none;
  }

  .nav__list--show {
    position: absolute;
    top: 44px;
    left: 0;
    background-color: $colorSecondary;
    width: 100%;
    padding: 0;

    li {
      padding: 10px;
      list-style: none;
      width: 100%;
      a {
        display: block;
        color: $colorText;
        text-decoration: none;
        width: 100%;
      }

      &:hover {
        border-left: 4px solid $colorAccent;
        background-color: scale-color($colorSecondary, $lightness: 30%);
      }
    }
  }
}