.user__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  .user__photo{
    width: 70%;
  }
  .user__name{
    font-size: 2em;
  }
  .user__edit {
    align-self: flex-end;
    margin-right: 2em;
  }
}

.line{
  height: 1em;
}

.book {
  padding: 0.5em;
}
.description--title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}