.page__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  display: none;
}

.page__search {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  .search__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .search__input {

    }

    .search__button {
      background: none;
      border: none;
    }

    .radio {
      padding: 0.5em 0;

      label {
        padding: 0.4em;
      }
    }
  }
}